
body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px; 
  }
  
  .navbar-left {
    display: flex;
    align-items: center;
  }
  
  
  .nav-links {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 10;
    margin-left: 200px;
    gap: 40px;
   
  }
  
  .nav-links li:last-child::after {
    content: "|"; 
    margin-left: 80px; 
    color: #ddd; 
    font-size: 28px;
  }

  .nav-links li a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
    font-weight: 500;
  }

  .search-bar {
    display: flex;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 20px;
    padding: 5px 15px;
    width: 300px;
    margin-left: 100px;
    background-color: #f9f9f9;
  }
  
  .search-bar input {
    background-color: #f9f9f9;
    border: none;
    outline: none;
    flex: 1;
    padding: 5px;
    font-size: 14px;
  }
  
  .search-bar button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
  }
  
  .navbar-right {
    display: flex;
    align-items: center;
  }
  
  .nav-icons {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 20px;
  }
  
  .nav-icons li a {
    text-decoration: none;
    color: #333;
  }
  
  .nav-icons li img {
    width: 20px;
    height: 20px;
  }



  .dropdown {
    position: relative;
    display: inline-block;
    margin-left: -20px;
  }

  .dropdown button {
    padding: 10px 20px;
    color: rgb(8, 8, 8);
    border: none;
    background-color: #ffffff;
    
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  }

  .dropdown-content a {
    display: block;
    padding: 10px;
    color: black;
    text-decoration: none;
  }

  .dropdown-content a:hover {
    background-color: #ddd;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }

